@model IEnumerable<Module>

<div class="card">
    <div class="card-header tbr fwcolor"> <h1>Module history</h1>Click to show activities</div>
</div>
<table class="table tbl">
    <thead>
        <tr class="tbr fwcolor">
            <th class="t1 fwcolor">@Html.DisplayNameFor(model => model.Name)</th>
            <th class="t1 fwcolor">@Html.DisplayNameFor(model => model.Description)</th>
            <th class="t1 fwcolor">@Html.DisplayNameFor(model => model.StartDate)</th>
            <th class="t1 fwcolor">@Html.DisplayNameFor(model => model.EndDate)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var itemId = $"activities{item.Id}";
            
            if (item.EndDate.CompareTo(DateTime.Now) < 0)
            {
                <tr id="@itemId" class="tbr fwcolor moduleClickable">
                    <td class="t1 fwcolor">@Html.DisplayFor(modelItem => item.Name)</td>
                    <td class="t1 fwcolor">@Html.DisplayFor(modelItem => item.Description)</td>
                    <td class="t1 fwcolor">@Html.DisplayFor(modelItem => item.StartDate)</td>
                    <td class="t1 fwcolor">@Html.DisplayFor(modelItem => item.EndDate)</td>
                </tr>
                
                foreach (var activity in item.Activities)
                {
                    <tr class="tbr activity hidden @itemId">
                    <td class="t1 fwcolor">@Html.DisplayFor(modelItem => activity.Name)</td>
                    <td class="t1 fwcolor">@Html.DisplayFor(modelItem => activity.Description)</td>
                    <td class="t1 fwcolor">@Html.DisplayFor(modelItem => activity.StartDate)</td>
                    <td class="t1 fwcolor">@Html.DisplayFor(modelItem => activity.EndDate)</td>
                </tr>
                }
            }
        }
    </tbody>
</table>

<script src="/js/ModulePartialSite.js"></script>


