@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<Lms.Core.ViewModels.Courses.CourseViewModel>

@{
    ViewData["Title"] = "Admin";
}



<div class="alluvem">
    <h2>LMS Administration</h2>
    <div class="headBar">
        <a asp-action="Create">Create New</a>
        <a asp-controller="Modules">Modules</a>
    </div>

    @*Here is where you would put an Ajax partial, If you make them with this template they will work with my js code.*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modules)
                </th>
                <th>Expand</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="courseBody">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @item.Modules.Count()
                    </td>
                    <td class="expandState">+</td>
                </tr>
                <tr class="expandCard hidden">
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                    <td>
                        <a asp-controller="Modules" asp-action="Create" asp-route-courseId="@item.Id">Create Module</a>
                    </td>
                    <td></td>
                </tr>
                
            }
        </tbody>
    </table>
</div>
