@{
    Layout = "/Views/Shared/Admin/_AdminLayout.cshtml";
}
@model Lms.Core.ViewModels.Modules.ModuleViewModel

@{
    ViewData["Title"] = "Details";
}



<div class="alluvem">
    <div class="edit">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
    <div>
        <a class="btn createBtn" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a class="btn createBtn" asp-action="Index">Back to List</a>
    </div>
        <partial name="/Views/Shared/Admin/Document/_DocumentsListPartial.cshtml" for=@Model.Documents />
    </div>
</div>
