@using Lms.Core.ViewModels.Modules
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
@model IndexModuleViewModel

@{
    ViewData["Title"] = "Index";
    var modules = Model.Modules;
}

<h1>Index</h1>
@if (Model.CourseId is not null)
{
    <h1>@Html.DisplayFor(model => Model.CourseName)</h1>
}

<p>
    <a asp-action="Create">Create New</a>
    <a asp asp-controller="Activities">Activities</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameForInnerType((ModuleViewModel model) => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameForInnerType((ModuleViewModel model) => model.Name)
            </th>     
            <th>      
                @Html.DisplayNameForInnerType((ModuleViewModel model) => model.Description)
            </th>     
            <th>      
                @Html.DisplayNameForInnerType((ModuleViewModel model) => model.StartDate)
            </th>     
            <th>      
                @Html.DisplayNameForInnerType((ModuleViewModel model) => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Modules)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a asp-controller="Activities" asp-action="Create" asp-route-activityId="@item.Id">Create Activity</a>
                </td>
            </tr>
        }
    </tbody>
</table>
