@page "{id}"
@model ActivitiesModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Activities";
}


<div class="container">
    <div class="row">
            <ul id="activities" class="col-9">
                <li>
                    <a asp-route-sortOrder="@Model.DateSort">
                        Sort By Date
                    </a>
                </li>
                <li>
                    <a asp-route-sortOrder="@Model.NameSort">
                        Sort By Name
                    </a>
                </li>




                @{
                    var i = 1;
                    foreach (var activity in Model.Activities)
                    {
                        i = activity.Id;
                        var activityId = $"activity{i}";


                        if (activity.EndDate.CompareTo(DateTime.Now) > 0)
                        {
                            var due = activity.EndDate - DateTime.Now;
                            string startDate = $"{activity.StartDate.ToShortDateString()}, {activity.StartDate.ToShortTimeString()}";
                            string endDate = $"{activity.EndDate.ToShortDateString()}, {activity.EndDate.ToShortTimeString()}";
                            string dueTime = $"{@due.Days} day(s), {@due.Hours}h & {@due.Minutes}m";

                            if (activity.ActivityType.Id == 2)
                            {
                                //Assignment
                                <li class="card card-assignment p-1" id="@activityId">
                                    <p class="card-header"><strong>Title:</strong> @Html.DisplayFor(model => activity.Name)</p>
                                    <p class="card-header"><strong>Starts:</strong> @startDate</p>
                                    <p class="card-header"><strong>Ends:</strong> @endDate </p>
                                    <div class="card-header"><strong>Due in: </strong>@dueTime</div>
                                    <div class="card-body row">
                                        <span class="btn btn-primary infoButton col-6">Expand &#8595</span>
                                        <div class="btn btn-primary col-3">TestUploadBtn</div>
                                    </div>
                                    <div class="card-footer hidden"><strong>About:</strong> @activity.Description</div>
                                </li>

                            }
                            else
                            {
                                //not assignment
                                <li class="card p-1" id="@activityId">
                                    <p class="card-header"><strong>Title:</strong> @Html.DisplayFor(model => activity.Name)</p>
                                    <p class="card-header"><strong>Starts:</strong> @startDate</p>
                                    <p class="card-header"><strong>Ends:</strong> @endDate </p>
                                    <div class="card-body col"><span class="btn btn-primary infoButton col-6">Expand &#8595</span></div>
                                    <div class="card-footer hidden">
                                        <strong>About:</strong> @activity.Description
                                    </div>
                                </li>
                            }
                        }
                    }
                }
            </ul>
        <div class="col">
            <ul id="weeks">

                @{
                    foreach (var item in Model.Weeks)
                    {
                        <li>
                            <a asp-route-searchString="@item">
                                Week: @item
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

<script src="/js/ActivitySite.js"></script>

