@page "{id}"
@model ActivitiesModel
@inject IAssignmentByUserList service
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Activities";
    var time = DateTime.Now;
}



<div class="container">
    <div class="row">
        <ul class="sorting">
            <li>
                <a asp-route-sortOrder="@Model.DateSort" class="btn btn-warning" data-toggle="button" aria-pressed="false">
                    Sort By Date
                </a>
            </li>
            <li>
                <a asp-route-sortOrder="@Model.NameSort" class="btn btn-warning" data-toggle="button" aria-pressed="false">
                    Sort By Name
                </a>
            </li>
            @if (User.IsInRole("Student"))
            {
                <li>
                    <a class="nav-link courseLink" asp-controller="Courses" asp-action="Student_CourseOverview"><strong>Course: </strong>@Model.CourseName</a>
                </li>
            }
        </ul>
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>
        }
        <ul id="activities" class="col-9">






            @{
                var i = 1;
                foreach (var activity in Model.Activities)
                {
                    i = activity.Id;
                    var activityId = $"activity{i}";

                    if (activity.EndDate.CompareTo(time) > 0)
                    {
                        var due = activity.EndDate - time;
                        string startDate = $"{activity.StartDate.ToShortDateString()}, {activity.StartDate.ToShortTimeString()}";
                        string endDate = $"{activity.EndDate.ToShortDateString()}, {activity.EndDate.ToShortTimeString()}";
                        string dueTime = $"{@due.Days} day(s), {@due.Hours}h & {@due.Minutes}m";

                        if (activity.ActivityType.Id == 2)
                        {
                            var students = await service.GetStudentListAsync(i);


                            //Assignment
                            <li class="card card-assignment p-1" id="@activityId">
                            <div class="infoButton">
                                <p class="card-header"><strong>Title:</strong> @Html.DisplayFor(model => activity.Name)</p>
                                <p class="activityType"><strong>@Html.DisplayFor(model => activity.ActivityType.Name)</strong></p>
                                <p class="card-header"><strong>Starts:</strong> @startDate</p>
                                <p class="card-header"><strong>Ends:</strong> @endDate </p>
                                <div class="card-header"><strong>Due in: </strong>@dueTime</div><div class="expandState">+</div></div>
                                <div class="card-footer container hidden expandCard">
                                    <strong>About:</strong> @activity.Description
                                    <div class="documents">
                                        <strong>Documents:</strong>
                                        @await Html.PartialAsync("_UploadFilePartial", new UploadFileViewModel{ActivityId = i})


                                        <strong>Activity Documents:</strong>

                                        @foreach (var doc in activity.Documents)
                                        {
                                            if (!students.Contains(doc.User))
                                            {

                                                var docId = doc.Id;
                                                <ul class="list-group docs">
                                                    <li>
                                                        <p>Name: @doc.Name</p>
                                                        <p>Type:  @doc.ContentType</p>
                                                        <p>Upload Time: @doc.UploadDate</p>
                                                        <a asp-controller="ActivityTypes" asp-action="Download" asp-route-id="@docId">Download</a>
                                                        @if (User.IsInRole("Teacher"))
                                                        {
                                                            @await Html.PartialAsync("_DeleteFilePartial", new DeleteFileViewModel{DocumentId = docId})
                                                        }
                                                    </li>
                                                </ul>
                                            }
                                        }




                                        <strong>Student's Documents:</strong>
                                        @if (User.IsInRole("Teacher"))
                                        {

                                            var deadline = activity.EndDate;
                                            @foreach (var student in students)
                                            {
                                                int totalDocuments = 0;
                                                <ul class="list-group docs">

                                                    <li> @student.UserName </li>
                                                    @foreach (var doc in activity.Documents)
                                                    {
                                                        if (doc.User == student)
                                                        {
                                                            totalDocuments++;

                                                            var docId = doc.Id;
                                                            <li>
                                                                <p>Name: @doc.Name</p>
                                                                <p>Type:  @doc.ContentType</p>
                                                                <p>Upload Time: @doc.UploadDate</p>
                                                                <a asp-controller="ActivityTypes" asp-action="Download" asp-route-id="@docId">Download</a>
                                                                @await Html.PartialAsync("_DeleteFilePartial", new DeleteFileViewModel{DocumentId = docId})
                                                            </li>
                                                        }
                                                    }
                                                    @if (totalDocuments == 0)
                                                    {
                                                        @if (deadline >= time)
                                                        {
                                                            <li> Missing</li>

                                                        }
                                                        @if (deadline < time)
                                                        {
                                                            <li> Late</li>
                                                        }
                                                    }

                                                </ul>
                                            }
                                        }
                                        @if (User.IsInRole("Student"))
                                        {
                                            <ul class="list-group docs">
                                                @foreach (var doc in activity.Documents)
                                                {
                                                    if (doc.User == Model.CurrentUser)
                                                    {
                                                        var docId = doc.Id;

                                                        <li>
                                                            <p>Name: @doc.Name</p>
                                                            <p>Type:  @doc.ContentType</p>
                                                            <p>Upload Time: @doc.UploadDate</p>
                                                            <a asp-controller="ActivityTypes" asp-action="Download" asp-route-id="@docId">Download</a>
                                                            @await Html.PartialAsync("_DeleteFilePartial", new DeleteFileViewModel{DocumentId = docId})
                                                        </li>
                                                    }
                                                }

                                            </ul>
                                        }

                                    </div>
                                </div>
                            </li>


                        }
                        else
                        {
                            //not assignment
                            <li class="card p-1" id="@activityId">
                            <div class="infoButton">
                                <p class="card-header"><strong>Title:</strong> @Html.DisplayFor(model => activity.Name)</p>
                                <p class="activityType"><strong>@Html.DisplayFor(model => activity.ActivityType.Name)</strong></p>
                                <p class="card-header"><strong>Starts:</strong> @startDate</p>
                                <p class="card-header"><strong>Ends:</strong> @endDate  <div class="expandState">+</div></p></div>
                                <div class="card-footer hidden expandCard">
                                    <strong>About:</strong> @activity.Description
                                </div>
                            </li>
                        }
                    }
                }
            }
        </ul>
        <div class="col weeks-card">
            <ul id="weeks">

                @{
                    foreach (var item in Model.Weeks)
                    {
                        <li class="">
                            <a asp-route-searchString="@item" class="btn btn-success">
                                Week: @item
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>


<script src="/js/ActivitySite.js"></script>

