@model Lms.Core.Entities.Course

<div class="card" style="width:90%">
    <div class="card-header tbr fwcolor">
        <h1>Students Information</h1>
    </div>
     <table class="table tbl">
       <tbody>
    @foreach (var item in Model.Users) {
        <tr class=" tbr fwcolor">
            <div class="card">
                <div class="card-body bgcolor fwcolor">
                    <div class="h5 d-inline">
                        @Html.DisplayNameFor(modelitem=>item.UserName) : 
                    </div>
                    <div class="d-inline">
                @Html.DisplayFor(modelItem => item.UserName)
                </div>
                <br>
                <div class="h5 d-inline">
                @Html.DisplayNameFor(modelitem=>item.Email) :
                </div>
                <div class="d-inline">
                @Html.DisplayFor(modelItem => item.Email)
                </div>
                <hr/>

                <a class="btn bbcolor fwcolor" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn bbcolor fwcolor" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-danger fwcolor" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
            </div>
        </tr>
}
    </tbody>
</table>
</div>
