@model Lms.Core.Entities.Course
<div class="tbr fwcolor" >

      <h1 class="tbr fwcolor">Students Information</h1>
      <table class="table tbl">
        <tbody>
          @foreach (var item in Model.Users) 
          {
           <tr class="tbr fwcolor">
              <td>
               <div class="card bgcolor fwcolor">
                   <div class="card-body">
                    <div class="h5 d-inline">@Html.DisplayNameFor(modelitem=>item.UserName) :</div>
                    <div class="d-inline">@Html.DisplayFor(modelItem => item.UserName)</div>
                    <br>
                    <div class="h5 d-inline">@Html.DisplayNameFor(modelitem=>item.Email) :</div>
                    <div class="d-inline">@Html.DisplayFor(modelItem => item.Email) </div>
                    <hr/>
                   @* <div>
                        <a class="btn bbcolor fwcolor" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a class="btn bbcolor fwcolor" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        <a class="btn btn-danger fwcolor" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>*@
                   </div>
               </div> 
             </td>
          </tr>
        }
       </tbody>
    </table>
</div>
