@model IEnumerable<Lms.Core.Entities.Course>
@{
    Layout = "_Layout.cshtml";
}
<br /> <br /><br /> <br />
<p>
     <a class="btn btn-dark" asp-action="Create">Create New</a>
</p>

<div class="card" >
    <div class="card-header tbtr fwcolor"> <h1>Course Information</h1> </div>
     <table class="table tbl">
        <thead>
            <tr class="tbtr fwcolor">
                <th class="t1 fwcolor">@Html.DisplayNameFor(model => model.Name)</th>
                <th class="t1 fwcolor">@Html.DisplayNameFor(model => model.Description)</th>
                <th class="t1 fwcolor">@Html.DisplayNameFor(model => model.StartDate)</th>
                <th class="t1 fwcolor">Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr class="tbtr fwcolor">
                <td class="t1 fwcolor">@Html.DisplayFor(modelItem => item.Name)</td>
                <td class="t1 fwcolor">@Html.DisplayFor(modelItem => item.Description)</td>
                <td class="t1 fwcolor">@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td class="t1 fwcolor">
                    <a class="btn bbcolor fwcolor" asp-action="EditCourse" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn bbgcolor fwcolor" asp-action="loadModules" asp-route-id="@item.Id">Modules</a> 
                    <a class="btn btn-danger fwcolor" asp-action="DeleteCourse" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

